:root {
  --col:#212121;
  --white:#FFFFFF;
  --blue:#188CE8;
  --dlue-active:#15568b;
  --grey:#757575;
  --header-ul:#2196F3;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--anim), color var(--anim);
  transition: background-color var(--anim), color var(--anim);
}

.team__circle:hover,
.team__circle:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--col);
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.span-web {
  color: #2196F3;
}

.chief-text {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.client__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.client__color-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color var(--anim), border-color var(--anim);
  transition: color var(--anim), border-color var(--anim);
}

.client__color-company:hover,
.client__color-company:focus {
  color: var(--header-ul);
  border-color: var(--header-ul);
}

.client__company {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-form {
  margin-top: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0px 16px;
  background: none;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

.footer__social-network {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__team-circle {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer__centre-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
  text-decoration: none;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.footer__address-lists:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--white);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.adress:hover,
.adress:focus {
  color: var(--blue);
}

.mailtel-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.mailtel-footer:hover,
.mailtel-footer:focus {
  color: var(--blue);
}

.goals__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goals__lists {
  max-width: 270px;
}

.goals__container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.goals__icon {
  width: 70px;
  height: 70px;
}

.goals__description {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
}

.goals__text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.header__mail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header__mailtel {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--grey);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.header__mailtel:hover,
.header__mailtel:focus {
  color: var(--blue);
}

.header__mailtel-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--grey);
}

.header__phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.header__folder {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover {
  color: var(--blue);
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 93px;
}

.header__studio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__transition {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  color: var(--col);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.header__transition::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  top: 45px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.header__transition.current::after {
  opacity: 1;
}

.header__transition:hover::after,
.header__transition:focus::after {
  opacity: 1;
}

.current {
  color: var(--header-ul);
}

.header__transition:hover,
.header__transition:focus {
  color: var(--header-ul);
}

.page__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.page__image {
  position: relative;
}

.page__wrapper {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.page__bottom-text-image {
  font-weight: 700;
  color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.different-it__border-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.different-it__button {
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  background-color: #F5F4FA;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}

.different-it__button:hover,
.different-it__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.different-it__page {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lists-different-it__page {
  max-width: 370px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}

.lists-different-it__page:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.lists-different-it__page:hover,
.lists-different-it__page:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.lists-different-it__page:hover .different-it__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.different-it__pop-up-window {
  position: relative;
  overflow: hidden;
}

.different-it__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.portfolio-description {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.87;
  color: var(--grey);
}

.modal__registration-form--caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  display: block;
  letter-spacing: 0.03em;
  color: var(--col);
}

.modal__registration-form--field {
  margin-top: 10px;
}

.modal__registration-form--field:first-of-type {
  margin-top: 12px;
}

.modal__registration-form--label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey);
}

.modal__registration-form--container-icon {
  position: relative;
}

.modal__registration-form--input {
  background: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}

.modal__registration-form--input:focus {
  border-color: #2196F3;
}

.modal__registration-form--icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.modal__registration-form--input:focus + .modal__registration-form--icon {
  fill: #2196F3;
}

.container-form-checkbox {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__registration-form--checkbox-input {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal__registration-form--checkbox-input:checked + .modal__registration-form--checkbox-icon .checked__form-icon {
  opacity: 1;
}

.modal__registration-form--checkbox-input:checked + .modal__registration-form--checkbox-icon .unchecked__form-icon {
  opacity: 0;
}

.modal__registration-form--checkbox-icon {
  left: 0;
}

.unchecked__form-icon {
  opacity: 1;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.checked__form-icon {
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.modal__registration-form--checkbox-text {
  margin-left: 9px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.modal__registration-form--checkbox-link {
  text-decoration: underline;
  color: #2196F3;
}

.modal__registration-form--button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}

.form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  border-color: #2196F3;
}

.team__flex {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__lists-people {
  max-width: 270px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.team__profession {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--grey);
}

.team__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.team__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client__text {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--col);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-form__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  float: right;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
}

.general__title {
  width: 696px;
  margin: 0 auto;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.36;
  color: var(--white);
}

.general {
  margin: 0 auto;
  max-width: 1600px;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.general__button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: inherit;
  background-color: #2196F3;
  color: var(--white);
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}

.general__button:hover,
.general__button:focus {
  background-color: #188CE8;
}

.goals {
  padding-bottom: 0;
}

.header {
  height: 80px;
  border: 1px solid #ECECEC;
}

.header__webstudioheader {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transition: opacity var(--anim), visibility var(--anim);
  transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.page {
  font-size: 36px;
  line-height: 1.17;
}

.different-it__profecional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.team {
  background-color: #F5F4FA;
}/*# sourceMappingURL=main.css.map */